# PHPUnit files
.travis.yml export-ignore
.stickler.yml export-ignore
bin export-ignore
tests export-ignore
phpunit.xml export-ignore
README.md export-ignore
.gitattributes export-ignore
.gitignore export-ignore
phpcs.xml export-ignore
.tx export-ignore
LICENSE.md export-ignore
CHANGELOG.md export-ignore
