sudo: false
language: php
services:
  - mysql
notifications:
  slack: wp-media:nnBz5DMaiRLNaEqIStaUgygW
  email:
    on_success: never
    on_failure: never
branches:
  only:
  - master
  - develop
  - /branch-.*$/
cache:
  directories:
  - vendor
  - "$HOME/.composer/cache"
matrix:
  include:
  - php: 7.4
    env: WP_VERSION=latest
  - php: 7.3
    env: WP_VERSION=latest
  - php: 7.2
    env: WP_VERSION=latest
  - php: 5.6
    env: WP_VERSION=4.9.11
  - php: 5.6
    env: WP_VERSION=latest
before_script:
- rm composer.lock
- export PATH="$HOME/.composer/vendor/bin:$PATH"
- composer install --no-progress
- |
  if [ -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ]; then
    phpenv config-rm xdebug.ini
  else
    echo "xdebug.ini does not exist"
  fi
- |
  if [[ ! -z "$WP_VERSION" ]] ; then
    bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  fi
script:
- composer run-tests
