includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 4
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
#        Test all PHP code.
#        - %currentWorkingDirectory%/inc/
        - %currentWorkingDirectory%/inc/classes/
    autoload_files:
        - %currentWorkingDirectory%/tests/phpstan/bootstrap.php
        # Must be first
        - %currentWorkingDirectory%/inc/functions/options.php
        # Procedural code
        - %currentWorkingDirectory%/inc/3rd-party/plugins/autoptimize.php
        - %currentWorkingDirectory%/inc/admin/ui/notices.php
        - %currentWorkingDirectory%/inc/constants.php
        - %currentWorkingDirectory%/inc/functions/admin.php
        - %currentWorkingDirectory%/inc/functions/api.php
        - %currentWorkingDirectory%/inc/functions/files.php
        - %currentWorkingDirectory%/inc/functions/formatting.php
        - %currentWorkingDirectory%/inc/functions/htaccess.php
        - %currentWorkingDirectory%/inc/functions/i18n.php
        - %currentWorkingDirectory%/inc/functions/posts.php
        # Composer autoloader "exclude-from-classmap"
        - %currentWorkingDirectory%/inc/classes/class-wp-rocket-requirements-check.php
        - %currentWorkingDirectory%/inc/vendors/classes/class-rocket-mobile-detect.php
    excludes_analyse:
         - %currentWorkingDirectory%/inc/vendors/
         # These need plugin stubs!
         - %currentWorkingDirectory%/inc/classes/subscriber/third-party/
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        # https://core.trac.wordpress.org/ticket/43304
        #- '/^Parameter #2 \$deprecated of function load_plugin_textdomain expects string, false given\.$/'
