// main: ../main.scss

/*-----------------------------------------------*\

    Notice for adblocker

\*-----------------------------------------------*/

.wpr-adblock{
    display: none;
    position: relative;
    background: $cGreyLight1;
    margin-top: $space*3;
    border-radius: 4px;

    &-container{
        display: flex;
        padding: 20px $space*7 20px $space*3;
    }

    img{
        margin-right: $space*2;
    }

    &-title{
        @include font-size(22,30);
        font-weight: bold;
    }

    &-description{
        color: $cGreyDark2;
        @include font-size(13,18);

        a{
            color: $cBlueDark1;
            text-decoration: underline;

            &:hover,
            &:focus{
                color: $cOrange;
            }
        }
    }

    &-close{
        position: absolute;
        top: 20px;
        right: $space*3;
        color: $cGreyDark1;
        text-decoration: none;
        @include font-size(24,24);
        @include transition(color, 200ms);

        &:hover{
            color: $cBlack;
        }

        &:focus{
            outline: none;
        }
    }
}
