// main: ../main.scss

/*-----------------------------------------------*\

    Field container

\*-----------------------------------------------*/

.wpr-field{
    padding: $space*2 0;

    & + .wpr-field{
        border-top: 1px solid $cGrey;
    }

    &:first-child{
        padding-top: 0;
    }

    &:last-child{
        padding-bottom: 0;
    }

    &-description{
        margin-top: 8px;
        color: $cGreyDark1;
    }

    // Children field
    &--children{
        padding-left: 32px;
    }
}
