// main: ../main.scss

/*-----------------------------------------------*\

    Field warning

\*-----------------------------------------------*/

.wpr-fieldWarning{
    display: none;
    position: relative;
    padding: $space*2 $space*2 $space*3 56px;
    background: $cPurpleDark1;
    margin: $space 0 0;
    color: #fff;

    &.wpr-isOpen{
        display: block;
    }

    &:after{
        content: '';
        position: absolute;
        display: block;
        top: -$space;
        left: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12px 8px 12px;
        border-color: transparent transparent $cPurpleDark1 transparent;
    }

    &:before{
        content: '';
        position: absolute;
        display: block;
        width: calc(100% + 32px);
        height: 100%;
        top: 0;
        left: -$space*2;
        background: $cPurpleDark1;
    }

    &-title{
        position: relative;
        color: $cOrange;
        @include font-size(14,20);
        font-weight: bold;

        &:before{
            position: absolute;
            left: -36px;
            @include font-size(24,20);
        }
    }

    &-description{
        position: relative;
        margin-top: $space;
    }

    .wpr-button{
        margin-top: $space*2;
    }
  	&.wpr-radio-warning{
	  margin-left: -32px;
	  &:after{
		left: 40px;
	  }
  	}
}

.wpr-warningContainer + .wpr-warningContainer,
.wpr-warningContainer + .wpr-field,
.wpr-field + .wpr-warningContainer{
    border-top: 1px solid $cGrey;
    padding-top: 16px;
}

.wpr-warningContainer+.wpr-warningContainer,
.wpr-field + .wpr-warningContainer{
  padding-bottom: 16px;
}
@media only screen and (max-width: 400px) {
  .wpr-fieldWarning{
	&.wpr-radio-warning{
	  margin-left: -32px;
	  .wpr-button{
		white-space:normal;
		padding-right: 32px;
	  }
	}
  }
}
@media only screen and (max-width: 350px) {
  .wpr-radio-buttons{
	padding-left: 24px;
  }
  .wpr-fieldWarning{
	&.wpr-radio-warning{
	  margin-left: -24px;
	  padding-left: 30px;
	  padding-right: 0;
	  .wpr-button{
		padding-right: 24px;
	  }
	}
  }
}
