// main: ../main.scss

/*-----------------------------------------------*\

    Imagify Tab style

\*-----------------------------------------------*/
.wpr-imagify {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

    &-description {
        width: 40%;
        padding-right: 60px;

        @include respond-to('md') {
            width: auto;
            padding-right: 0;
        }
    }

    &-screenshot {
        width: 60%;

        @include respond-to('md') {
            margin-top: 60px;
            width: auto;
        }
    }

    &-screenshot img {
        max-width: 100%;
        height: auto;
    }

    &-more, &-name {
        color: #00a8dc;
        font-weight: 700;
        margin-bottom: 0;
    }

    &-more::before {
        content: '\2713';
        color: #000;
        font-size: 2rem;
        margin-right: 5px;
    }

    p {
        font-size: 1rem;
    }

    p:first-child {
        margin-top: 0;
    }

    ul {
        margin-top: 40px;
    }

    li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 35px;

        &:before {
            width:24px;
            height:24px;
            margin-right: 10px;
            flex-shrink: 0;
        }

        .text {
            flex-grow: 1;
            display: inline-block;
        }
    }

    a {
        text-decoration: none;
    }

        a:hover {
            color: #00a8dc;
        }

    .button-primary {
        background: #2abb9b;
        border: 1px solid #bebebe;
        box-shadow: none;
        font-size: 1rem;
        font-weight: 700;
        height: auto;
        line-height: 1;
        margin-top: 60px;
        padding: 20px 45px;
        text-shadow: none;
        text-transform: uppercase;
    }
}

.wpr-imagify-plugin-tile {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f9fafb;
    margin-top: 20px;
    border: 1px solid #ebe9e9;

    &-info {
        margin-left: 20px;

        .wpr-star-rating {
            display: flex;
            align-items: center;
        }

        .star-rating .star {
            font-size: 16px; 
            width: 16px;
            height: 13px;
        }

        .num-ratings {
            font-size: 13px;
            margin-left: 10px;
        }
    }

    &-title {
        margin-bottom:5px;
    }

    .wpr-button {
        margin-left: auto;

        &:before {
            margin-right: 5px;
        }
    }
}