// main: ../main.scss

/*-----------------------------------------------*\

    Notice for first time on dashboard

\*-----------------------------------------------*/

.wpr-notice{
    position: relative;
    color: #fff;
    background: $cPurple url('../img/bg-activated.svg') no-repeat 90% bottom;
    background-size: 350px;
    margin-top: $space*3;
    padding: $space*3 25% $space*3 $space*5;
    border-radius: 4px;

    &-supTitle{
        @include font-size(16,22);
    }

    &-title{
        @include font-size(24,32);
        color: $cGreen;
        margin-top: $space*2;
    }

    &-description{
        @include font-size(14,22);
        margin: $space*2 0 $space*3;
    }

    &-continue{
        color: $cPurpleLight4;
    }

    &-close{
        position: absolute;
        top: $space*3;
        right: $space*3;
        color: $cPurpleLight2;
        @include font-size(24,24);
        @include transition(color, 200ms);

        &:hover{
            color: #fff;
        }

        &:focus{
            outline: none;
        }
    }
}
