#wpr_global_score_widget {
	.wpr-fieldsContainer-fieldset{
		padding: 20px 15px;
	}
}
	.wpr-percentage-score-widget{
		text-align: center;
		margin-top: 10px;
		.wpr-percentage-indicator {
			.wpr-percentage-circle{
				border-width: 3.83px;
				font-size: 42.17px;
				font-weight: 600;
				.wpr-failed-score{
					width: 50px;
					height: 50px;
					&:before{
						width: 50px;
						height: 50px;
						background-size: contain;
						display: inline-block;
					}
				}
			}
			.wpr-percentage-circle.wpr-centralize-100-score {
				text-indent: -1px;
			}
			.wpr-tooltip{
				display: none;
			}
		}
		.wpr-page-num-txt{
			margin: 24px 0 12px 0;
			font-size: 14px;
			line-height: 1.3;
		}
		.wpr-score-no-urls{
			background-image: url(../img/pma-light-pulp.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 92px;
			height: 92px;
			margin: 0 auto;
			display: block;
			margin-bottom: 10px;
		}
		.wpr-pma-global-score-add-url-button{
			padding:10px 30px 10px 16px;
			font-family: Roboto, Arial, sans-serif;
			font-size: 11px;
			font-style: normal;
			font-weight: 600;
			line-height: 1.3;
			margin: 0;
			&:before{
				bottom: 6px;
			}
		}
	}
	// Percentage indicator component
	.wpr-percentage-indicator {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		.wpr-percentage-circle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 92px;
			height: 92px;
			font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
			border-radius: 50%;
			border: 3.83px solid;
			text-indent: 1px;
			line-height: 0;
			&-sm{
				width: 32px;
				height: 32px;
				font-size: 14px;
			}

			// Default styles
			&.status-red {
				border-color: $errorDark;
				color: $errorDark;
				background-color: $errorLighter;
			}

			&.status-yellow {
				border-color: $warningDark;
				color: $warningDark;
				background-color: $warningLighter;
			}

			&.status-green {
				border-color: $successDark;
				color: $successDark;
				background-color:$successLighter;
			}
			&.blurred {
				filter: blur(10px);
				user-select: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				pointer-events: none;
			}
			.wpr-failed-score{
				width: 21.333px;
				height: 21.333px;
				&:before{
					width: 21.333px;
					height: 21.333px;
					background-size: contain;
					display: inline-block;

				}
			}
		}
		a {
			text-decoration: none;
		}
		.wpr-loading-img{
			width: 78px;
			height: 82px;
			&-sm{
				width: 32px;
				height: 32px;
			}
		}
		.wpr-tooltip{
			left: 6px;
			top: 30px;
			min-width: max-content;
			&:before {
				top: -6px;
				left: 17.6px;
			}
		}
		&:hover {
			.wpr-tooltip {
				visibility: visible;
				opacity: 1;
			}
		}
	}
