.wpr-pma-license-banner {
	background-color: #f9f9f9;
	border-radius: 2px;
	padding: 30px;
	margin: 20px 0;
	max-width: 100%;
	border: 1px solid #E2E5E9;

	// Header section
	.wpr-pma-banner-header {
		font-family: Roboto, Arial, sans-serif;
		h2 {
			font-size: 18px;
			font-weight: 600;
			margin: 0 0 10px;
			color: #0C0F1F;
		}

		p {
			font-size: 16px;
			color: #0C0F1F;
			margin: 0;
			line-height: 1.5;
		}
	}

	// Content container with flex layout
	.wpr-pma-banner-content {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		margin-top: 40px;
		@media (max-width: 768px) {
			flex-direction: column;
			margin-top: 20px;
		}
	}

	// Benefits list
	.wpr-pma-benefits-list-container {
		flex: 1;
		padding: 0;
		margin: 0;
		max-width: 60%;
		.wpr-pma-benefits-list {
			list-style: none;
			margin: 0;

			@media (max-width: 768px) {
				max-width: 100%;
			}

			li {
				font-family: Roboto, Arial, sans-serif;
				position: relative;
				padding-left: 35px;
				margin-bottom: 20px;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.3;
				color: #0C0F1F;
				display: flex;
				align-items: center;

				&:last-child {
					margin-bottom: 0;
				}

				&:before {
					font-family: 'wpr-icomoon';
					content: "\e920";
					position: absolute;
					left: 0;
					color: #1a1a1a;
					font-size: 13px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 20px;
					height: 20px;
					background: #99D1DE;
					padding: 2px;
					border-radius: 50%;
				}

				strong {
					font-weight: 600;
				}
			}
		}
		.wpr-pma-terms {
			margin-top: 60px;
			font-size: 11px;
			color: #738191;
			line-height: 1.3;
			@media (max-width: 768px) {
				margin-top: 20px;
			}
		}
	}
	// Price box
	.wpr-pma-price-box {
		background-color: white;
		border-radius: 5px;
		padding: 40px 24px 24px 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 310px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
		position: relative;
		height: fit-content;

		@media (max-width: 768px) {
			min-width: auto;
			width: 100%;
		}

		.wpr-pma-offer {
			font-family: Roboto, Arial, sans-serif;
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
			background-color: #FED055;
			color: #0C0F1F;
			padding: 4px 12px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.3;
			border-radius: 4px;
		}
	}

	// Price before discount
	.wpr-pma-price-before-discount {
		color: #738191;
		text-decoration: line-through;
		font-size: 16px;
		margin: 0 0 5px;
	}

	// Price display
	.wpr-pma-price {
		display: flex;
		align-items: baseline;
		justify-content: center;
		margin: 0 0 5px;
		line-height: 1;

		.wpr-currency {
			font-size: 20px;
			color: #738191;
			margin-right: 2px;
			position: relative;
			top: -(2*$space);
		}

		.wpr-price-number {
			font-size: 46px;
			font-weight: 500;
			color: #0C0F1F;
		}
		.wpr-price-decimal {
			color: #0C0F1F;
			font-size: 30px;
			position: relative;
			top: -(2*$space);
		}

		.wpr-period {
			font-size: 16px;
			color: #738191;
			margin-left: 1px;
			position: relative;
			top: -24px;
		}
	}

	// VAT notice
	.wpr-pma-vat {
		font-size: 14px;
		color: #0C0F1F;
		margin: 0 0 20px;
	}

	// CTA button
	.wpr-pma-cta-button {
		font-family: Roboto, Arial, sans-serif;
		background-color: #F3704D;
		border: 1px solid #F3704D;
		line-height: 1.3;
		color: white;
		border-radius: 4px;
		padding: 12px 16px;
		width: 100%;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		display: block;
		cursor: pointer;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: darken(#f67954, 5%);
		}
	}
}
