// main: ../main.scss

/*-----------------------------------------------*\

    Section header of the page

\*-----------------------------------------------*/

.wpr-sectionHeader{
    position: relative;
    border-bottom: 1px solid $cGreyLighter1;
    padding-bottom: $space*3;

    &:before{
        content: '';
        position: absolute;
        display: block;
        width: 48px;
        height: 2px;
        bottom: -1px;
        left: 0;
        background-color: $cOrange;
    }

    .wpr-title1{
        display: flex;
        align-items: center;
        line-height: $space*4;
        letter-spacing: 0;
        color: $cTextPrimary;

        &:before{
            flex: 0 0 $space*6;
            width: $space*6;
            height: $space*6;
            margin-right: $space*3;
            background-color: $cOrangeLight5;
			background-size: 65%;
            color: $cOrange;
            font-size: 23px;
            line-height: $space*6;
            text-align: center;
            border-radius: 4px;
        }
    }

    &-title{
        margin-top: $space;
        padding-left: $space*9;
    }

    &-description{
        color: $cGreyDark2;
        margin-top: $space;
        padding-left: $space*9;
    }

    &-logo{
        vertical-align: top;
        margin-right: 24px;
    }
}

.wpr-without-padding{
    padding: 0;
}
