// main: ../main.scss

/*-----------------------------------------------*\

    Custom WP Thickbox (for analytics)

\*-----------------------------------------------*/

.wpr-thickbox{
    padding: 0 $space*2;
    color: $cGreyDark2;

    &-flex{
        display: flex;
        flex-direction: row;
        align-items: center;

        div{
            margin-left: $space*4;
        }
    }

    p{
        margin: $space*2 0;
    }

    .wp-rocket-data-table{
        padding: $space*2 $space*3;
        background: $cGreyLight2 !important;
        border: none;

        td{
            width: 50%;
            color: $cBlack;
            padding: 10px 0;
            padding-left: 4px;
            border-bottom: 1px solid darken($cGrey,10%);

            &:not(.column-primary){
                font-family: "Monaco";
                @include font-size(12,20);
                color: $cGreyDark2;
                letter-spacing: -0.01em;
            }
        }

        tr{
            background: $cGreyLight2;
            border-bottom: 1px solid $cGrey;

            &:last-child td{
                border-bottom: none;
            }
        }

        strong{
            font-weight: normal;
        }

        em{
            font-style: normal;
        }

        code{
            padding: 0;
            margin: 0;
            background: transparent;
        }
    }
}

#TB_ajaxWindowTitle{
    height: 60px !important;
    background: $cPurple !important;
    line-height: 60px !important;
    font-weight: normal !important;
    padding: 0 7px 0 32px !important;
    color: #fff;
    @include font-size(26,60);
    letter-spacing: -0.03em;
}

#TB_closeWindowButton{
    top: 15px !important;
    right: 15px !important;
}

.tb-close-icon{
    transform: scale(1.5);
    color: $cPurpleLight2 !important;

    &:hover{
        color: $cPurpleLight3 !important;
    }
}
