input[type=number].small-text {
	height: 28px;
}
#rockettabs {
	background-color: #fff;
}
.rkt-tab {
	padding: 0 10px;
}
.rkt-tab h2 {
	display:  none;
}
.rkt-tab li h2 {
	display:  block;
}
.rkt-tab-txt ul {
	list-style-type: disc;
	padding-left: 1em;
}
#tab_faq th {
	display: none;
}
.rkt-move-deferred {
	cursor: move;
}
.button-link:after,
.rocketicon:before {
	vertical-align: middle;
	padding-right: 5px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 1.5em/1 'dashicons';
}
.rocketicon-video:before {
	content:  "\f236";
	color: #B80303;
}
.rkt-tab-txt ol li {
	line-height: 0.5em;
}
.rkt-tab-txt ol li h2 {
	line-height: 0.5em;
}
.rkt-tab-txt ol li h2 a {
	font-size: 0.8em;
}
.button-link:after {
	content: " \f310";
	font-size: 1.1em;
	padding-left: 3px;
}
.rkt-module-drag {
	cursor:  move;
}
.settings_page_wprocket input.has-parent {
	margin-left:  20px;
}
[data-loading="true"] input  {
	background:  transparent url('../img/wpspin.gif') 99% 50% no-repeat;
	 background-size:  16px 16px;
}
.varnish_description.varnish_description {
	padding:  10px;
	 font-size:  14px;
}
.description.has-parent {
	margin-left: 20px;
}
.rkt-tab textarea {
	resize: auto;
}
#rocket_options .nav-tab-active,
#rocket_options .nav-tab-active:focus,
#rocket_options .nav-tab-active:focus:active,
#rocket_options .nav-tab-active:hover  {
	border-bottom:  1px solid #fff;
	background:  #fff;
}
.rocket-panel-description  {
	background:  #fff;
	border-bottom:  2px solid #fd7300;
	padding:  0.75em 0 1em 1.5em;
}
[dir="rtl"] .rocket-panel-description {
	padding: 0.75em 1.5em 1em 0;
}
.rocket-panel-description span.dashicons  {
	color: #fd7300;
	margin-left: -1.25em;
	margin-right: 0.25em;
}
[dir="rtl"] .rocket-panel-description span.dashicons {
	margin-right: -1.25em;
	margin-left: 0.25em;
}
.description.tip--detect  {
	color: #826eb4;
}
fieldset[class*="fieldparent-"]:not([class*="fieldtype-helper"]),
.fieldtype-helper_warning + fieldset:not(.fieldtype-helper_warning)  {
	margin-top: 0.5em;
}
fieldset[class*="fieldparent-"][class*="fieldtype-helper"]  {
	margin-bottom: 0.5em;
}
.fieldtype-checkbox + [class*="fieldtype-helper"] + .fieldtype-checkbox  {
	margin-top: 1.75em;
}
