// main: ../main.scss

.wpr-wrap{
    padding: 16px;
    margin: 0 0 0 -20px;
}

.wpr-body{
    display: flex;
}

.wpr-body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeQuality;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
