// main: ../main.scss

/*-----------------------------------------------*\

    Checkbox & textarea

\*-----------------------------------------------*/


.wpr-checkbox{
    position: relative;
    padding-left: $space*4;

    label{
        user-select: none;
    }
}

// Hide default checkbox
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

// Box to check
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 1px;
    width: 14px; height: 14px;
    border: 2px solid $cGreyDark1;
    border-radius: 3px;
    @include transition(all, 150ms);
}



// Check icon
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: "\e921"; // wpr-icon-check2
    position: absolute;
    top: 2px; left: 2px;
    color: #fff;
    font-family: 'wpr-icomoon';
    speak: none;
    @include font-size(14,18);
    @include transition(all, 150ms);
}

// Not checked
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(2);
}

// Checked
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:checked + label:before {
    background: $cPurpleDark1;
    border-color: $cPurpleDark1;
}
