// main: ../main.scss

.wpr-u-flex{
	display: flex;
    align-items: center;
    justify-content: center;
}
.wpr-mt-2 {
    margin-top: 20px;
}
.wpr-fs-sm {
    font-size: 0.9em;
}
.wpr-fs-md {
    font-size: 1em;
}
