// main: ../../main.scss

/*-----------------------------------------------*\

    Multiple select field

\*-----------------------------------------------*/

.wpr-multiple-select {
 .wpr-list {
   border: 2px solid $cGreyLight4;
   background-color: $cWhite;
   border-radius: 5px;
   padding: 10px;
   margin: 8px 0;
   .wpr-list-header {

	 .wpr-multiple-select-exclude_js_ads:before {
	   font-family: "wpr-icomoon";
	   content: '\e9b7';
	   padding-right: 8px;
	 }

	 .wpr-multiple-select-exclude_js_plugins:before {
	   font-family: "wpr-icomoon";
	   content: '\e991';
	   padding-right: 8px;
	 }

	 .wpr-multiple-select-exclude_js_themes:before {
	   font-family: "wpr-icomoon";
	   content: '\e927';
	   padding-right: 8px;
	 }

	 display: flex;
	 justify-content: space-between;
	 .wpr-list-header-arrow {
		width: 15px;
	   cursor: pointer;
	   display: flex;
	   transform: rotate(180deg);
	 }

	 h3 {
	   font-weight: 500;
	   color: $cBlack;
	   @include font-size(14,21);
	 }
   }
   .wpr-list-body {
	 display: none;
	 li {
	   padding-left: 30px;
	   .wpr-checkbox {
		 img {
		   width: 15px;
		 }
	   }
	 }
   }
   &.open {
	 .wpr-list-body {
	   display: block;

	   .wpr-checkbox label {
		 color: $cGreyDark3;
	   }

	   .wpr-checkbox input[checked="checked"] + label {
		 color: $cGreyDark4;
	   }
	 }
	 .wpr-list-header {
	   border-bottom: 1px solid $cGreyLight4;
	   margin-bottom: 10px;
	   padding-bottom: 5px;
	 }
	 .wpr-list-header-arrow {
	   transform: rotate(0deg);
	 }
   }

 }
}
