// main: ../../main.scss

/*-----------------------------------------------*\

    Progress bar field

\*-----------------------------------------------*/


.rucss-progress-bar {
    margin-top: 10px;

	progress {
		width: 100%;
		height: 20px;

		/* Reset the default appearance */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		/* Get rid of default border in Firefox. */
		border: none;

		/* For IE10 */
        color: $cGreenDark1;
	}


	progress[value] {
		/* Reset the default appearance */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 9px;
	}

	progress[value]::-webkit-progress-bar {
		background-color: $cGrey;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		border-radius: 9px;
	}

	progress[value]::-webkit-progress-value {
		border-radius: 9px;
		background-image:
		  -webkit-linear-gradient(-45deg,
		                          transparent 33%, rgba(255, 253, 253, 0.1) 33%,
		                          rgba(255, 255, 255, 0.1) 66%, transparent 66%),
		  -webkit-linear-gradient(top,
		                          rgba(0, 0, 0, 0.25),
		                          rgba(255, 255, 255, 0.25)),
		  -webkit-linear-gradient(left, $cGreenLight3, $cGreenDark1);

		background-size: 50px 20px, 100% 100%, 100% 100%;
		transition: width 1.5s;
	}

	progress[value]::-moz-progress-bar {
		border-radius: 9px;
		background-image:
		  -webkit-linear-gradient(-45deg,
		                          transparent 33%, rgba(255, 253, 253, 0.1) 33%,
		                          rgba(255, 255, 255, 0.1) 66%, transparent 66%),
		  -webkit-linear-gradient(top,
		                          rgba(0, 0, 0, 0.25),
		                          rgba(255, 255, 255, 0.25)),
		  -webkit-linear-gradient(left, $cGreenLight3, $cGreenDark1);
		background-image:
		  linear-gradient(-45deg,
		                          transparent 33%, rgba(255, 253, 253, 0.1) 33%,
		                          rgba(255, 255, 255, 0.1) 66%, transparent 66%),
		  linear-gradient(to top,
		                          rgba(0, 0, 0, 0.25),
		                          rgba(255, 255, 255, 0.25)),
		  linear-gradient(to left, $cGreenLight3, $cGreenDark1);

		background-size: 50px 20px, 100% 100%, 100% 100%;
		transition: width 1.5s;
	}
}

.rucss-progress-error {
	margin-top: 10px;
}

#rucss-progressbar {
    .wpr-field-description{
	    margin-top: 0;
	}
}

.rucss-progress-step {
    padding: 10px 0px 0px 0px;
    line-height: 24px;

	&.completed {
	    padding-top: 0;
		.spinner {
			visibility: hidden;
			display: none;
		}
		&.wpr-icon-check:before {
			color: $cGreenDark1;
			margin: 4px 14px 0;
		}
	}
	.spinner {
		visibility: visible;
		float: left;
	}

	&.rucss-progress-step2-list {
		color: $cRed;

		&.wpr-icon-important:before {
			margin: 4px 14px 0;
		}

		ul {
			&.rucss-notwarmed-resources {
				margin-top: 0px;
				max-height: 82px;
				overflow-y: scroll;
				padding: 10px;
				background: #fff;
				border: 2px solid darken($cGrey, 10%);
				border-radius: 3px;
				@include font-size(13,16);
			}
		}
	}
}
