// main: ../../main.scss

/*-----------------------------------------------*\

    Custom radio (switch on/off)

\*-----------------------------------------------*/


.wpr-radio{
    position: relative;
    min-height: $wpr-radio-track-height;
    padding-left: $wpr-radio-track-width + $wpr-radio-gap;

    label{
        user-select: none;
        font-weight: bold;
    }

    // Hide default radio
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }

    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        content: '';
        position: absolute;
        top: 50%;
    }

    // The track
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        left: 0;
        width: $wpr-radio-track-width;
        height: $wpr-radio-track-height;
        margin-top: -($wpr-radio-track-height / 2);
        background: $cGreyLighter2;
        border-radius: 9999px;
        @include transition(all, 150ms);
    }

    // The knob
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        left: $wpr-radio-knob-inset;
        width: $wpr-radio-knob-size;
        height: $wpr-radio-knob-size;
        margin-top: -($wpr-radio-knob-size / 2);
        border-radius: 100%;
        background: $cGreyLight3;
        @include transition(all, 150ms);
    }

    // Checked track
    [type="checkbox"]:checked + label:before {
        background: $cSurfacePrimary;
    }

    // Checked knob
    [type="checkbox"]:checked + label:after {
        left: $wpr-radio-track-width - $wpr-radio-knob-size - $wpr-radio-knob-inset;
    }

    // Disabled
    [type="checkbox"]:disabled + label:before,
    [type="checkbox"]:disabled + label:after {
        opacity: .5;
    }

    // Focus
    [type="checkbox"]:focus-visible + label:before {
        outline: 2px solid $cSurfacePrimary;
        outline-offset: 2px;
    }

    // Reverse label/checkbox
    &--reverse{
        padding-right: $wpr-radio-track-width + $wpr-radio-gap;
        padding-left: 0;

        // The track
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            right: 0;
            left: auto;
        }

        // The knob
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            right: $wpr-radio-track-width - $wpr-radio-knob-size - $wpr-radio-knob-inset;
            left: auto;
        }

        // Checked knob
        [type="checkbox"]:checked + label:after {
            right: $wpr-radio-knob-inset;
            left: auto;
        }
    }
}
