// main: ../../main.scss

/*-----------------------------------------------*\

    Type = text

\*-----------------------------------------------*/


.wpr-text{
    label{
        color: $cGreyDark2;
    }

    input[type=text],
    input[type=number]{
        margin-top: 8px;
        padding: 0 $space;
        width: 100%;
        height: $space*4;
        color: $cBlack;
        background: #fff;
        border: 2px solid darken($cGrey, 10%);
        border-radius: 3px;
        font-family: Monaco;
        @include font-size(12,16);
        @include transition(border,200ms);

        &:focus{
            outline: none;
            border-color: $cGreyDark1;
            box-shadow: none;
        }

        &.wpr-isError{
            border-color: $cRed;
        }
    }

    input[type=number]{
        width: 80px;
    }

    &--number{
        label{
            margin-right: $space;
        }
    }

}
