// main: ../../main.scss

/*-----------------------------------------------*\

    Type = text

\*-----------------------------------------------*/


.wpr-text{
    label{
        color: $cGreyDark2;
    }

    input[type=text],
    input[type=number]{
        margin-top: 8px;
        padding: 0 $space;
        width: 100%;
        height: $space*4;
        color: $cBlack;
        background: #fff;
        border: 2px solid darken($cGrey, 10%);
        border-radius: 3px;
        @include font-size(12,16);

        &:focus{
            outline: none;
            border-color: $cGreyDark1;
            box-shadow: none;
        }
    }

    input[type=number]{
        width: 80px;
    }
}
