#wpadminbar #wp-admin-bar-support a {color: #FF0000}
.rocket-cross{display:block;width:14px;height:14px;text-indent:-9999px;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAtklEQVQ4y4XSzWpCQQyG4QextR5U6O3bpbgt1VqF+rMQf6DoNR03IwzpjAaySfLON/kIdDHFD/rq0WCJD3RggjblbwVusM3mxrDJCm0aaB5ALRaSwjo0jhhhiEPozfB6f3WAfRj4wynU1qVVSsp5znOlGANcCtAx7F0ErwXw/Ah8r0D3PCSz/ilFc/bPzBmlr+QDn3hJZsxryrvQWKL35AC+48mt8FY5uV08uW6CvypQDq8S1LkB5eFjp8/gZjMAAAAASUVORK5CIIA=) no-repeat}
.updated .rocket-cross,
.error .rocket-cross{float:right;margin-top:10px}
.rocket-plugins-error {overflow:hidden; padding-left: 20px;list-style-type:disc}
.rocket-plugins-error li{width:250px; line-height: 25px}
.rocketbox:checked ~ .rocketboxpanel{display: block;}
