#icon-rocket.icon32 {background: url('../img/logo-wp-rocket.png') no-repeat}
#rockettabs{background-color: #fff}
.rkt-tab {padding: 0 10px;}
.rkt-tab-txt h2 {font-size: 20px}
.rkt-tab-txt ul {list-style-type: disc; padding-left: 1em}