// main: ../main.scss

/*-----------------------------------------------*\

    Main content of the page

\*-----------------------------------------------*/

.wpr-Content{
    background: #fff;
    padding: 32px 26px;
    border: 1px solid $cGrey;
    border-left: none;
    flex: 1 1 auto;

    form > input:last-child{
        margin-top: $space*3;
    }
}
