// main: ../modal.scss

/*-----------------------------------------------*\

    Popin desactivation plugin

\*-----------------------------------------------*/

.wpr-Modal{
    display: none;
    position: fixed;
    width: 550px;
    height: auto;
    top: 50%;
    left: 50%;
    background: #fff;
    color: #0E1B23;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100000;

    &-overlay{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
        z-index: 99999;
    }

    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $space*6;
        padding: 0 $space*2 0 $space*4;
        border-bottom: 1px solid #EEE;
    }

    &-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $space*8;
        padding: 0 $space*4;
        background: #F5F5F5;
    }

    &-close{
        font-size: 0;
        color: #AAA;
        border: none;
        background: none;
        cursor: pointer;

        &:hover{
            color: #008ec2;
        }

        &:before{
            @include font-size(20,20);
        }
    }

    &-cancel{
        color: #0073aa;
        text-decoration: underline;
        margin-left: $space;
        line-height: 28px;
        border: none;
        background: none;
        cursor: pointer;

        &:hover{
            color: #008ec2;
        }
    }

    &-content{
        padding: $space $space*4;
    }

    &-fieldHidden{
        display: none;
    }

    &-hidden{
        display: none;
    }

    ul{
        li{
            padding: 4px 0;
        }
    }

    h2,
    h3{
        font-weight: normal;
    }

    input[type=radio]{
        margin-top: 1px;
        margin-right: $space;
    }
}
