// main: ../modal.scss

/*-----------------------------------------------*\

    Popin desactivation plugin

\*-----------------------------------------------*/

.wpr-Modal{
    display: none;
    position: fixed;
    width: 550px;
    height: auto;
    top: 50%;
    left: 50%;
    background: #fff;
    color: #0E1B23;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100000;

    &-overlay{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
        z-index: 99999;
    }

    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $space*6;
        padding: 0 $space*2 0 $space*4;
        border-bottom: 1px solid #EEE;
    }

    &-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $space*8;
        padding: 0 $space*4;
        background: #F5F5F5;
    }

    &-close{
        font-size: 0;
        color: #AAA;
        border: none;
        background: none;
        cursor: pointer;

        &:hover{
            color: #008ec2;
        }

        &:before{
            @include font-size(20,20);
        }
    }

    &-return{
        display: none;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 0;
        color: #777;
        position: relative;
        left: -8px;

        &.wpr-isOpen{
            display: inline-block;
        }

        &:before{
            font-size: 14px;
            display: inline-block;
        }

        &:hover,
        &:focus{
            outline: none;
            color: #008ec2;
        }
    }

    &-cancel{
        color: #0073aa;
        text-decoration: underline;
        margin-left: $space;
        line-height: 28px;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 500;

        &:hover{
            color: #008ec2;
        }
    }

    &-question{
        display: none;

        &.wpr-isOpen{
            display: block;
        }
    }

    &-content{
        padding: $space $space*4;
    }

    &-fieldHidden{
        display: none;
        padding-left: 26px;
        margin-top: $space;

        &.wpr-isOpen{
            display: block;
        }

        input[type=text],
        textarea{
            border: 2px solid #A9ADB0;
            font-size: 12px;
            border-radius: 3px;
            @include transition(border, 150ms);

            &:focus{
                outline: none;
                box-shadow: none;
                border-color: #777;
            }

            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: #ccc;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color: #ccc;
               opacity:  1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
               color: #ccc;
               opacity:  1;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
               color: #ccc;
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
               color: #ccc;
            }

            &::placeholder { /* Most modern browsers support this now. */
               color: #ccc;
            }
        }

        input[type=text]{
            width: 300px;
            height: 30px;
        }

        textarea{
            width: 100%;
            height: 60px;
            padding: 5px;
        }
    }

    &-hidden{
        display: none;

        &.wpr-isOpen{
            display: block;
        }

        button{
            cursor: pointer;
            border: none;
            margin-bottom: 24px;
        }

        .text-center{
            text-align: center;
        }

        h3{
            display: none !important;
        }

        a{
            color: #1B9AAA !important;

            &:hover{
                color: #0073aa !important;
            }
        }
    }

    .button{
        font-weight: 500;
    }

    .button-primary{
        border-bottom-width: 2px;

        &.wpr-isDisabled{
            opacity: 0.2;
            color: #fff !important;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    ul{
        li{
            padding: 4px 0;
        }
    }

    h2,
    h3{
        display: inline-block;
        font-weight: normal;
    }

    h2{
        font-weight: 600;
    }

    h3{
        font-weight: bold;
    }

    input[type=radio]{
        margin-top: 1px;
        margin-right: $space;
    }
}
