// main: ../modal.scss

/*-----------------------------------------------*\

    Popin desactivation plugin

\*-----------------------------------------------*/

.wpr-Modal{
    display: none;
    position: fixed;
    width: 550px;
    height: auto;
    top: 50%;
    left: 50%;
    background: #fff;
    color: #444;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeQuality;
    text-rendering: optimizeLegibility;

    &-overlay{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
        z-index: 99999;
    }

    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $space*2 0 $space*4;
        border-bottom: 1px solid #EEE;

        & > div{
            display: flex;
        }
    }

    &-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $space*8;
        padding: 0 $space*4;
        background: #F5F5F5;
    }

    &-close{
        font-size: 0;
        color: #AAA;
        border: none;
        background: none;
        cursor: pointer;

        &:hover{
            color: #008ec2;
        }

        &:before{
            @include font-size(20,20);
        }
    }

    &-return{
        display: none;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 0;
        color: #777;
        position: relative;
        width: 28px;
        left: -12px;

        &.wpr-isOpen{
            display: inline-block;
        }

        &:before{
            font-size: 14px;
            display: inline-block;
        }

        &:hover,
        &:focus{
            outline: none;
            color: #008ec2;
        }
    }

    &-cancel{
        color: #0073aa;
        text-decoration: underline;
        margin-left: $space;
        line-height: 28px;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 500;

        &:hover{
            color: #008ec2;
        }
    }

    &-question{
        display: none;

        &.wpr-isOpen{
            display: block;
        }
    }

    &-content{
        padding: $space $space*4;
    }

    &-fieldHidden{
        display: none;
        padding-left: 26px;
        margin-top: $space;

        &.wpr-isOpen{
            display: block;
        }

        input[type=text],
        textarea{
            border: 2px solid #A9ADB0;
            font-size: 12px;
            border-radius: 3px;
            @include transition(border, 150ms);

            &:focus{
                outline: none;
                box-shadow: none;
                border-color: #777;
            }

            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: #ccc;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color: #ccc;
               opacity:  1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
               color: #ccc;
               opacity:  1;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
               color: #ccc;
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
               color: #ccc;
            }

            &::placeholder { /* Most modern browsers support this now. */
               color: #ccc;
            }
        }

        input[type=text]{
            width: 300px;
            height: 30px;
        }

        textarea{
            width: 100%;
            height: 60px;
            padding: 5px;
        }
    }

    &-hidden{
        display: none;

        &.wpr-isOpen{
            display: block;
        }

        button{
            cursor: pointer;
            border: none;
            margin-bottom: 24px;
        }

        .text-center{
            text-align: center;
        }

        h3{
            display: none !important;
        }

        a{
            color: #1B9AAA !important;

            &:hover{
                color: #0073aa !important;
            }
        }
    }

    &-safeMode{
        position: relative;
        padding: 10px 12px 10px 52px;
        background: $cGreenLight4;
        color: $cGreenDark1;
        border-radius: 2px;
        @include font-size(13,18);

        &:before{
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            left: 12px;
            top: 50%;
            margin-top: -14px;
            border-radius: 50%;
            text-align: center;
            border: 2px solid $cGreenDark1;
            @include font-size(14,24);
        }

        &-title{
            font-weight: bold;
            letter-spacing: 0.011em;
            text-transform: uppercase;
        }
    }

    .button{
        font-weight: 500;
        box-shadow: none;
        height: 30px;
        border-bottom-width: 3px;
    }

    .button-primary{
        &.wpr-isDisabled{
            opacity: 0.2;
            color: #fff !important;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    ul{
        li{
            padding: 4px 0;
        }
    }

    h2,
    h3{
        display: inline-block;
        @include font-size(16,19);
    }

    h2{
        max-width: 430px;
        font-weight: 600;
        color: #23282D;
        margin: 12px 0;
    }

    h3{
        font-weight: bold;
        color: #3D474E;
        margin: $space 0;
    }

    input[type=radio]{
        margin-top: 1px;
        margin-right: $space;
    }

    .show-if-safe-mode{
        display: none;
    }
}
