// main: ../main.scss

/*-----------------------------------------------*\

    Page / section

\*-----------------------------------------------*/

.wpr-Page{
    display: none;
    margin-bottom: $space*4;

    &#dashboard{ // Exception for dashboard
        display: block;

        .wpr-documentation{
            margin-top: 98px;
            padding: 43px $space*2;

            .wpr-button{
                margin-top: $space;
            }

            i{
                @include font-size(54,54);
            }
        }

        .wpr-radio{
            padding-left: $space*9;
        }

        .wpr-field--radio{
            padding: $space*2 $space;

            &:first-child{
                padding-top: 0;
            }

            &:last-child{
                padding-bottom: 0;
            }

            .wpr-field-description {
                font-style: normal;
                color: $cGreyDark2;
                margin-left: $space*9;
            }
        }

        .wpr-field-account{
            padding-bottom: 0;
        }
    }

    &-row{
        display: flex;
        flex-direction: row;
    }

    &-col{
        flex: 1 1 auto;
    }

    &-col--fixed{
        margin-left: $space*3;
        flex: 0 0 325px;
    }
}
