.external-css-background-image{width:100%;height:400px;background-image:var(--wpr-bg-hash);background-color:#ccc}.external-css-background-images{width:100%;height:400px;background-image:var(--wpr-bg-hash),var(--wpr-bg-hash);background-color:#3dd83d}.external-css-background-image-gradient{width:100%;height:400px;background-image:linear-gradient(rgba(0,0,255,.5),rgba(255,255,0,.5)),var(--wpr-bg-hash)}.external-css-background{background:var(--wpr-bg-hash) no-repeat #c63dd8}
.external-css-background-image-space{
	width: 100%;
	height: 400px;
	background-image: var(--wpr-bg-hash);
	background-color: #cccccc;
}
.external-css-background-image-svg{
	width: 100%;
	height: 400px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-color: #cccccc;
}
