---
---

@import "{{ site.theme }}";

a {
	text-shadow: none;
}

header h1 a {
	color: #b5e853;
	text-decoration: none;
}

header h1 a:hover {
	text-decoration: underline;
}

.container {
	max-width: 700px;
}

footer {
	margin-top: 6em;
	padding: 1.6em 0;
	border-top: 1px dashed #b5e853;
}

.footer-image {
	text-align: center;
	padding-top: 1em;
}