// compressedFilenamePattern: ../../assets/css/wpr-modal.css

/*-----------------------------------------------*\

Author: Thomas Geisen (www.thomasgeisen.fr)
Method : SUITCSS (modified)

.ComponentName => Name of component (Ex : .SiteHeader)
.ComponentName--modifierName => Modifier of component (.SiteHeader--white, .SiteHeader--fixed)
.ComponentName-descendantName => Children of componant (.SiteHeader-logo, .SiteHeader-menu)
.ComponentName.isState => State of component (.isActive, .isOpen)

More informations here : https://suitcss.github.io/ or http://www.alsacreations.com/article/lire/1641-bonnes-pratiques-en-css-bem-et-oocss.html (french)

--- EVERY CLASS are prefixed with "wpr-"

\*-----------------------------------------------*/

@charset 'utf-8';

//--> Abstracts
@import "abstracts/_variables";
@import "abstracts/_mixins";

//--> Base
@import "base/_icons";

//--> Layout
@import "layout/_Modal";

//--> Components
@import "components/_button";



// RTL Rules
html[dir=rtl] .wpr-Modal{
    &-header{
        padding: 0 $space*4 0 $space*2;
    }

    &-return{
        left: 12px;
        transform: rotate(180deg);
    }
    &-safeMode{
        padding: 10px 52px 10px 12px;

        &:before{
            left: inherit;
            right: 12px;
        }
    }
}
