<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="init-tests.php" backupGlobals="false" colors="true" beStrictAboutCoversAnnotation="false" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutTodoAnnotatedTests="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" verbose="true">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">../../inc</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory suffix=".php">inc</directory>
    </testsuite>
  </testsuites>
</phpunit>
