on:
  pull_request:
    branches:
      - develop

name: Deploy new WP Instance 
jobs:
  deploy:
    name: deploy new WP instance to cluster
    # We run this job only if branch name doing the PR starts with these patterns
    if: startsWith(github.head_ref, 'dev-') || startsWith(github.head_ref, 'ga-')
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer:v1
      - name: Run composer
        run: composer install
      - name: parse ingress
        run: sed -i "s|CHANGEME|${{ github.head_ref }}|g" .github/k8s_ingress.yaml
      - name: create Helm values.yml
        uses: "finnp/create-file-action@master"
        env:
          FILE_NAME: "values.yml"
          FILE_BASE64: "${{ secrets.HELM_VALUES }}"
      - name: deploy to cluster
        uses: wahyd4/kubectl-helm-action@master
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        with:
          args: |
            if ! kubectl get namespace -A | grep ${{ github.head_ref }}; then
              kubectl create namespace ${{ github.head_ref }}
              helm repo add bitnami https://charts.bitnami.com/bitnami
              helm install ${{ github.head_ref }} bitnami/wordpress -f values.yml -n ${{ github.head_ref }}
              kubectl get secret dev-tls --namespace=default --export -o yaml | kubectl apply --namespace=${{ github.head_ref }} -f -
              kubectl apply -f .github/k8s_ingress.yaml
            fi
            export PODNAME=$(kubectl get pods --context kubernetes-admin@TST-SBG5-MAN-K8S-01 -A | grep ${{ github.head_ref }} | grep wordpress | awk '{print $2}')
            kubectl cp . $PODNAME:/opt/bitnami/wordpress/wp-content/plugins/wp-rocket -n ${{ github.head_ref }}
